extends base 

block intro
 h1=title 

block ciphertext
 pre=challenge.ciphertext

block hints
  if (hintcount === -1)
    p Log in to view hints!
  else
    for val, index in hints
      if(index < hintcount)
        div(id=val.seq_num class=hint)
          p!=val.content
      else
        p Another hint is available! Click here to unlock it!
